:root {
    --fontFamily: 'Work Sans', sans-serif;

    --separatorColor: hsl(0, 0%, 87%);
    --branchColorHue: 147;
    --branchColorSaturation: 57%;
    --branchColorLightness: 37%;
    --branchColor: hsl(var(--branchColorHue), var(--branchColorSaturation), var(--branchColorLightness));
    --fontColor: hsl(202, 9%, 25%);
    --secondaryFontColor: hsl(0, 0%, 60%);
    --backgroundColor: hsl(0, 0%, 100%);
}

.dark-mode {
    --separatorColor: hsl(0, 0%, 13%);
    --branchColorLightness: 63%;
    --fontColor: hsl(0, 0%, 95%);
    --secondaryFontColor: hsl(0, 0%, 70%);
    --backgroundColor: hsl(0, 0%, 13%);
}
