---
layout: layout.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

{% set latestPosts = collections.all | reverse %}
<main class="content" role="main">
    <section class="Latest-posts">
        <h1 class="Latest-posts--title">Vaya, esta página no existe :(</h1>
        <p>Pero por si te interesa, te dejo por aquí enlaces a lo último que he escrito:</p>
        <ul class="Latest-posts--list">
            {%- for post in latestPosts.slice(0, 5) -%}
                {% include "post-list-item.njk" %}
            {%- endfor -%}
        </ul>
    </section>
</main>
