---
layout: layout
eleventyExcludeFromCollections: true
---
<main class="content" role="main">
    <nav class="Contact">
        <h1>También puedes encontrarme en:</h1>
        <ul>
            <li>
                <a target="_blank" href="https://github.com/nuzkito">
                    @nuzkito en GitHub
                </a>
            </li>
            <li>
                <a target="_blank" href="https://codepen.io/nuzkito">
                    @nuzkito en Codepen
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/nuzkito">
                    Mi perfil en Linkedin
                </a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/nuzkito">
                    @nuzkito en Twitter
                </a>
            </li>
            <li>
                <a target="_blank" href="https://bsky.app/profile/nuz.bsky.social">
                    @nuz.bsky.social en Bluesky
                </a>
            </li>
        </ul>
    </nav>
</main>
