---
layout: layout
eleventyExcludeFromCollections: true
---

{% set latestPosts = collections.all | reverse %}
<main class="content" role="main">
    <section class="Latest-posts">
        <h1 class="Latest-posts--title">Mis últimas publicaciones</h1>
        <ul class="Latest-posts--list">
            {%- for post in latestPosts -%}
                {% include "post-list-item.njk" %}
            {%- endfor -%}
        </ul>
    </section>
</main>
