---
layout: layout
pagination:
    data: collections.all
    size: 20
    alias: posts
    reverse: true
permalink: /publicaciones/pagina-{{ pagination.pageNumber + 1 }}/
eleventyExcludeFromCollections: true
---

<main class="content" role="main">
    {%- for post in posts -%}
        <article class="PostListItem">
            <header class="PostListItem-header">
                <h2 class="Post-title">
                    <a href="{{ post.page.url }}">{{ post.data.title }}</a>
                </h2>
            </header>
            {% if post.data.description %}
                <section class="PostListItem-excerpt">
                    {{ post.data.description }}
                </section>
            {% endif %}
            <footer class="PostListItem-meta">
                {%- if post.data.date_published.toDateString() === post.data.date_updated.toDateString() %}
                    <time datetime="{{ post.data.date_published.toString() }}">
                        Publicado el {{ post.data.date_published.toLocaleDateString('es-ES', { year: 'numeric', month: 'long', day: 'numeric' }) }}
                    </time>
                {%- else %}
                    <time class="Post-date" datetime="{{ post.data.date_updated.toISOString() }}">
                        Actualizado el {{ post.data.date_updated.toLocaleDateString('es-ES', { year: 'numeric', month: 'long', day: 'numeric' }) }}
                    </time>
                {%- endif %}
                <span class="Post-readingTime">
                    {{ post | timeToRead }} de lectura
                </span>
                <nav class="PostListItem-tags">
                    {%- for tag in post.data.tags -%}
                        <a href="/etiqueta/{{ tag | slugify }}">{{ tag }}</a>
                    {%- endfor -%}
                </nav>
            </footer>
        </article>
    {%- endfor -%}

    <nav class="Pagination" role="navigation">
        {% if pagination.href.previous %}
            <a class="Pagination-newerPostsLink" href="{{ pagination.href.previous }}">Recientes</a>
        {%- endif %}
        <span class="Pagination-pageNumber">Página {{ pagination.pageNumber + 1 }}</span>
        {% if pagination.href.next %}
            <a class="Pagination-olderPostsLink" href="{{ pagination.href.next }}">Anteriores</a>
        {% endif %}
    </nav>
</main>
