---
permalink: feed.xml
eleventyExcludeFromCollections: true
metadata:
    title: La web de Nuzkito
    description: Blog sobre desarrollo de software
    language: es
    author:
        name: Nuzkito
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ config.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{ metadata.title }}</title>
        <link>{{ config.url }}</link>
        <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml"/>
        <description>{{ metadata.description }}</description>
        <language>{{ metadata.language }}</language>
        {%- for post in collections.all | reverse %}
            {%- set absolutePostUrl = post.url | absoluteUrl(config.url) %}
            <item>
                <title>{{ post.data.title }}</title>
                <link>{{ absolutePostUrl }}</link>
                <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
                <pubDate>{{ (post.data.date_updated or post.data.date_published) | dateToRfc822 }}</pubDate>
                <dc:creator>{{ metadata.author.name }}</dc:creator>
                <guid>{{ absolutePostUrl }}</guid>
            </item>
        {%- endfor %}
    </channel>
</rss>
