---
layout: layout
pagination:
    data: collections
    size: 1
    alias: tag
permalink: /etiqueta/{{ tag | slugify }}/
eleventyExcludeFromCollections: true
---

<main class="content" role="main">
    <section class="Latest-posts">
        <h1>Publicaciones sobre {{ tag }}</h1>
        <ul class="Latest-posts--list">
            {%- for post in collections[tag] | reverse -%}
                {% include "post-list-item.njk" %}
            {%- endfor -%}
        </ul>
    </section>
</main>
