---
metadata:
  title: Nuzkito.es
  description: Blog sobre desarrollo de software
  language: es
  author:
    name: Nuzkito
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}"/>
        <meta name="HandheldFriendly" content="True"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer-when-downgrade"/>
        <link rel="alternate" type="application/rss+xml" title="{{ metadata.title }}" href="{{ config.url }}/feed.xml">
        <link rel="shortcut icon" href="{{ config.url }}/favicon.ico">
        <link rel="stylesheet" href="{{ config.url }}/css/index.css">
        <link href="https://unpkg.com/prismjs@1.29.0/themes/prism-okaidia.css" rel="stylesheet">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <meta property="og:site_name" content="{{ metadata.title }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="{{ title or metadata.title }}"/>
        <meta property="og:description" content="{{ description or metadata.description }}"/>
        <meta property="og:url" content="{{ config.url }}"/>
        <meta property="og:image" content="{{ config.url }}/images/2015/02/cover-o-1.jpg"/>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta name="twitter:title" content="{{ title or metadata.title }}"/>
        <meta name="twitter:description" content="{{ description or metadata.description }}"/>
        <meta name="twitter:url" content="{{ config.url }}"/>
        <meta name="twitter:image" content="{{ config.url }}/images/2015/02/cover-o-1.jpg"/>
        <meta name="twitter:site" content="@nuzkito"/>
        <meta property="og:image:width" content="3200"/>
        <meta property="og:image:height" content="2368"/>
        <script type="application/ld+json">
            {% include "ld+json.njk" %}
        </script>
        {%- if config.environment === 'production' %}
            <script
                defer
                src="https://unpkg.com/@tinybirdco/flock.js"
                data-host="https://api.tinybird.co"
                data-token="p.eyJ1IjogImFmNjdkMDQ0LWRlMTctNGRjYi05MGEwLTI4NzQwZmJiNjZhYiIsICJpZCI6ICJlN2MxMmY3MS05NGZiLTRjYzItYmY1Mi04OWFkZTY4OGNlNWUiLCAiaG9zdCI6ICJldV9zaGFyZWQifQ.CeEhLo8M3MBqv0FN9x_i1Hi35lvW7hdFu-4hCD7RPCg"></script>
        {%- endif %}
    </head>
    <body>
        <header class="Header">
            <a href="/" class="main-link">
                <h1 class="name">Holi, soy Nuzkito</h1>
                <p class="description">Mi blog sobre desarrollo de software</p>
            </a>
        </header>
        <nav class="Nav">
            <a href="/">Publicaciones</a>
            <a href="/contacto">Contacto</a>
        </nav>
        {{ content | safe }}
        <footer class="Footer site-footer clearfix">
            <p>&copy; 2014 - {{ currentYear }}</p>
        </footer>
    </body>
</html>
