{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "publisher": {
        "@type": "Organization",
        "name": "{{ metadata.title }}",
        "url": "{{ config.url }}",
        "logo": {
            "@type": "ImageObject",
            "url": "{{ config.url }}/favicon.ico",
            "width": 60,
            "height": 60
        }
    },
    "url": "{{ config.url }}",
    "image": {
        "@type": "ImageObject",
        "url": "{{ config.url }}/images/2015/02/cover-o-1.jpg",
        "width": 3200,
        "height": 2368
    },
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ config.url }}"
    },
    "description": "{{ metadata.description }}"
}
