---
layout: layout.njk
---

<main class="content" role="main">
    <article class="Post">
        <header class="Post-header">
            {%- if cover_image %}
                <div
                    class="Post-cover"
                    style="background-image:
                        url(https://images.unsplash.com/photo-1494412685616-a5d310fbb07d?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ);">
                    <h1 class="Post-titleCovered">{{ title }}</h1>
                </div>
            {%- else %}
                <h1 class="Post-title">{{ title }}</h1>
            {%- endif %}
            <section class="Post-meta">
                <time class="Post-date" datetime="{{ date_published.toISOString() }}">{{ date_published.toLocaleDateString('es-ES', { year: 'numeric', month: 'long', day: 'numeric' }) }}</time>
                <span class="Post-readingTime">
                    {{ content | timeToRead }} de lectura
                </span>
                <div class="Post-tags">
                    {%- for tag in tags -%}
                        <a href="/tag/{{ tag }}">{{ tag }}</a>
                    {%- endfor -%}
                </div>
            </section>
        </header>
        <section class="Post-content">
            {{ content | safe }}
        </section>
    </article>
</main>
