---
layout: layout.njk
---

<main class="content" role="main">
    <article class="Post">
        <header class="Post-header">
            {%- if cover_image %}
                <div
                    class="Post-cover"
                    style="background-image:
                        url(https://images.unsplash.com/photo-1494412685616-a5d310fbb07d?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ);">
                    <h1 class="Post-titleCovered">{{ title }}</h1>
                </div>
            {%- else %}
                <h1 class="Post-title">{{ title }}</h1>
            {%- endif %}
            <section class="Post-meta">
                <div class="Post-publishedAt">
                    Publicado el <time class="Post-date" datetime="{{ date_published.toISOString() }}">{{ date_published.toLocaleDateString('es-ES', { year: 'numeric', month: 'long', day: 'numeric' }) }}</time>
                </div>
                {%- if date_published.toDateString() !== date_updated.toDateString() %}
                    <div class="Post-modifiedAt">
                        Actualizado el <time class="Post-date" datetime="{{ date_updated.toISOString() }}">{{ date_updated.toLocaleDateString('es-ES', { year: 'numeric', month: 'long', day: 'numeric' }) }}</time>
                    </div>
                {%- endif %}
                <div class="Post-readingTime">
                    {{ content | timeToRead }} de lectura
                </div>
                {%- if tags %}
                    <nav class="Post-tags">
                        {%- for tag in tags -%}
                            <a href="/etiqueta/{{ tag | slugify }}">{{ tag }}</a>
                        {%- endfor -%}
                    </nav>
                {%- endif %}
            </section>
        </header>
        <section class="Post-content">
            {{ content | safe }}
        </section>
    </article>
</main>
