@property --offset-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 2deg;
}

.Header {
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 4;
    transition: --offset-angle .3s ease-in-out;
    background: repeating-conic-gradient(
        from var(--offset-angle) at -5% 5%,
        hsl(var(--branchColorHue), var(--branchColorSaturation), 96%) 0deg 5deg,
        hsl(var(--branchColorHue), var(--branchColorSaturation), 92%) 5deg 10deg
    );
}

.Header:hover {
    --offset-angle: 12deg;
}

.Header .name {
    margin: 0;
    font-size: 1.2em;
    letter-spacing: initial;
    font-weight: 300;
    color: var(--fontColor);
}

.Header .job {
    color: var(--branchColor);
    margin: 0;
}
