.Header {
    padding: 1rem;
    text-align: center;
    grid-column: 1 / 4;

    background: repeating-conic-gradient(
        from 2deg at -5% 5%,
        hsl(var(--branchColorHue), var(--branchColorSaturation), 96%) 0 5deg,
        hsl(var(--branchColorHue), var(--branchColorSaturation), 92%) 5deg 10deg
    );
}

.Header .name {
    margin: 0;
    font-size: 1.2em;
    letter-spacing: initial;
    font-weight: 300;
    color: var(--fontColor);
}

.Header .job {
    color: var(--branchColor);
    margin: 0;
}
