.Latest-posts {
    padding: 0 1rem;
}

.Latest-posts--title {
    text-align: center;
}

.Latest-posts--list {
    padding: 0;
}

.Latest-posts--item {
    list-style-type: none;
    margin: 1em 0;
}

.Latest-posts--link {
    display: block;
}

.Latest-posts--date {
    font-size: .85em;
    color: var(--secondaryFontColor);
}
