.Pagination {
    margin: .5em auto;
    color: var(--secondaryFontColor);
    display: flex;
    flex-direction: row;
    margin: .5em auto .7em;
    justify-content: center;
}

.Pagination-pageNumber {
    padding: .2em .6em;
}

.Pagination-olderPostsLink,
.Pagination-newerPostsLink {
    border-radius: .2em;
    padding: .2em 0;
    transition: all .1s ease-in-out;
    color: var(--secondaryFontColor);
    text-decoration: underline;
}

.Pagination-olderPostsLink:hover,
.Pagination-newerPostsLink:hover {
    color: var(--branchColor);
}
